@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E9EAE8;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F5F3;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
